<%# File created 06/24/2020 by Kevin Dong %>
<%# File edited 06/24/2020 by Amanda Cheng, Yifan Yao, Prachiti Garge, Troy Stein %>
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no" />
    <%# Use the title from a page's frontmatter if it has one %>
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "screen.css" %>
    <%= stylesheet_link_tag "media_press.css" %>
    <%= stylesheet_link_tag "people.css" %>
    <link rel="stylesheet" href="//basehold.it/22" />
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&amp;display=swap" rel="stylesheet" />
    <%#= stylesheet_link_tag "site" %>
  </head>
  <body>
    <header>
     <%= partial "header" %>
     <%= partial "navigation" %>
    </header>
    <br />
    <%= yield %>
  </body>
</html>
