<!-- File Created on 06/22/20 by Kevin Dong -->
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no" />
    <title><%= current_page.data.title%></title>
    <%= stylesheet_link_tag "screen.css" %>
    <%= stylesheet_link_tag "media_press.css" %>
    <link rel="stylesheet" href="//basehold.it/22" />
  </head>
  <body>
    <header>
      <%= partial "navigation" %>
    </header>
  <%= yield %>
  </body>
</html>
