<!-- File Created on 06/25/2020 by Prachiti Garge -->
<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no" />
  <title><%= current_page.data.title%></title>
  <!-- Get styling from overall stylesheet and individual css -->
  <%= stylesheet_link_tag "screen.css" %>
  <%= stylesheet_link_tag "people.css" %>
</head>
<body>
<header>
  <!-- To get the navigation bar -->
  <%= partial "navigation" %>
</header>
<%= yield %>
</body>
</html>