<%#File created 06/23/2020 by Amanda Cheng %>
<div class="header">
    <h1><%=data.index.header.name%></h1>
  <%#Print out each of its biography in header %>
<ul>
  <% data.index.bio.each do |node| %>
    <li class="header"><%= node %></li>
  <% end %>
  <li class="header"><a href="<%=data.index.header.college_url %>"><%=data.index.header.college %></a></li>
  <li class="header"><a href="<%=data.index.header.dpt_url %>"><%=data.index.header.dpt %></a></li>
</ul>
</div>