---
layout: "layout"
title: James W. Davis, Personal History
---

<%# Created by Troy Stein on 06/20/2020 sets up personal history css file %>
<%#this is the html.erb file %>
<%# Reads in .json file %>
<% json =  JSON.parse(File.read('./data/personal_history.json'))%>
<%# <html xmlns="http://www.w3.org/1999/html"> %>
<%# Different for each page  <body> %>
<%# Display Teaching and Appointments %>
<%# stores the bulleted list from the ruby code %>
<!--<html xmlns="http://www.w3.org/1999/html">-->
 <!-- different for each page  <body>-->
<!--Display Teaching and Appointments && value != 'N/A' <div class ="aleft half appointments"> -->
<h1 class="personal_info">Appointments</h1>
  <table class="personal_info">
    <tr class="col_names">
<!-- appointments ruby code -->
<th>Years/Status</th>
<th>Position</th>
<th>Department</th>
<th>University</th>
<th>url</th>
    </tr>
<!-- stores the bulleted list from the ruby code -->
  <% json['Appointments'].each do |posn| %>
      <tr>
  <% posn[1].each do |key,value| %>
        <%if key == 'status'%>
          <td><p class="course_number"><%= value%></p></td>
          <%end %>
        <%if key != 'status' && key != 'url'%>
        <td><%= value%></td>
         <%end%>
        <% if key == 'url'%>
      <%if value != 'N/A' %>
        <td><a href="<%= value%>"><%=value%></a></td>
        <%else %>
        <td></td>
        <%end %>
          <%end %>
      <%end%>
    </tr>
  <%end %>
  </table>
<div class="teaching tright">
<h1 class="personal_info">Teaching</h1>

<h2>School Year</h2>
  <p class="course_number"> Course Number </p>
  Course Name (Semester/Quarter)
<ul>
  <% json['Teaching'].each do |year|%>
  <li>
    <%year[1].each do |key,val| %>
      <%if key.to_s== 'year' %>
        <h2><%=val.to_s%></h2>
      <%elsif key.to_s == 'information'  %>
          <p><%=val.to_s %> </p>
        <%else%>
          <%val.each do |key1, val1| %>
          <%if key1.to_s == 'course' %>
              <h3 class="course"> <%=val1.to_s %></h3>
              <%else %>
                <%=val1.to_s %>
            <%end%>
            <%end %>
            <%end %>
          <%end %>
      <%end%>
  </li>
</ul>
</div>