---
layout: "layout"
title: "James W. Davis, Publications"
---

<%# File created 06/21/2020 by Yifan Yao %>
<%# File edited 06/24/2020 by Yifan Yao: Populate data into file %>
<%# File edited 06/25/2020 by Yifan Yao: Convert link from string to link %>
<h1 class="content-padding header-center">Publications</h1>
<div class="flex-container content-padding">
  <div class="left">
    <% data.event_list_left.each do |node| %>
      <ul>
        <% node.each do |item| %>
          <% if item.match(%r{https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)}) %>
            <li>[<a href="<%= item %>">HTML</a>]</li>
          <% elsif item.match /pdf/ %>
            <li>[<a href="http://web.cse.ohio-state.edu/~davis.1719/<%= item %>">PDF</a>]</li>
          <% else %>
            <li><%= item %></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="right">
    <% data.event_list_right.each do |node| %>
      <ul>
        <% node.each do |list| %>
          <% if list.match(%r{https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)}) %>
            <li>[<a href="<%= list %>">HTML</a>]</li>
          <% elsif list.match /pdf/ %>
            <li>[<a href="http://web.cse.ohio-state.edu/~davis.1719/<%= list %>">PDF</a>]</li>
          <% else %>
            <li><%= list %></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
